################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/sources/Ring/Ring/bin/Debug/net8.0-windows10.0.19041.0/win10-x64
/sources/Ring/.vs/Ring
/sources/Ring/Ring/obj
